extends baseEmail

block content
    p Zdravo #{firstName},
        p Zaboravili ste Vašu šifru? Resetujte je ovdje: #{url}
        p (Website za ovu akciju još nije implementiran)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Resetujte šifru
        p Ako Vam treba neka pomoć u vezi sajta, slobodno me kontaktirajte!
        p - Bogdan Laban