.footer
  .footer__logo
  <a href="/"><img src='/img/logo-green.png' alt='NATURA logo'/></a>
  ul.footer__nav
    li
      a(href='#') About me
    li
      a(href='#') Download apps
    li
      a(href='#') Become a guide
    li
      a(href='#') Careers
    li
      a(href='#') Contact
  p.footer__copyright
    | &copy; from Bogdan Laban, with ♥ to the OSS community. You are free to use the source code as you wish, as long as you credit me.
    