extends base

block content
    main.main
        .singup-form
<<<<<<< HEAD
            h2.heading-secondary.ma-bt-lg Create your account!
=======
            h2.heading-secondary.ma-bt-lg create your account!
>>>>>>> e089852f96b6dc2244e67447aac5f5f31a235bd3
            form.form.form--signup
                .form__group
                    label.form__label(for='name') Your name
                    input#name.form__input(type='text' placeholder='' required='')
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email'   placeholder='you@example.com' required='')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password' placeholder='••••••••' required='' minlength='8')
                .form__group.ma-bt-mdv 
                    label.form__label(for='passwordConfirm') Confirm password
                    input#passwordConfirm.form__input(type='password' placeholder='••••••••' required='' minlength='8')
                .form__group
                    button.btn.btn--green Sign up